include ../mixins/logo

mixin menu(data)
	.menu(
		class= attributes.class
		class= data && data.colorWhite ? 'menu_color_white' : ''
	)

		.menu__outer
			.menu__side.menu__side_left
				ul.menu__wrap

					each val in menu.sideLeft
						li.title.title_font_third.title_as_h4.upper.menu__item
							a.menu__link(
								class= val.anchor ? 'scroll' : ''
								href= val.link
							)= val.name

			.menu__side.menu__side_center
				+logo({
					link: page.link !== global.link_home
				})(class= data && data.colorWhite ? 'logo_color_white' : '')

			.menu__side.menu__side_right
				ul.menu__wrap

					each val in menu.sideRight
						li.title.title_font_third.title_as_h4.upper.menu__item
							a.menu__link(
								class= val.anchor ? 'scroll' : ''
								href= val.link
							)= val.name