mixin banner(data)
	a.banner(
		href= data.link
		class= attributes.class
		class= data.moreLink ? 'banner_has_more-link' : ''
		class= data.zoom ? 'banner_zoom' : ''
		class= data.video ? 'banner_video' : ''
		data-fancybox= data.zoom ? data.zoom.group : null
		data-caption= data.zoom && data.zoom.title ? data.zoom.title : null
	)

		.banner__img-wrap
			.banner__img(style='background-image: url(' + data.img + ');')

		.banner__content-wrap
			.banner__content
				block

		if data.moreLink
			.banner__more-link-wrap
				.title.title_font_third.title_as_h3.upper.banner__more-link Подробнее